.cache
*_archive
auto-save-list
backups

# package manager
elpa
elpaca
eln-cache

# packages
recentf
tramp
.org-id-locations
*_flymake.*
/eshell/history
/eshell/lastdir
transient
tree-sitter

# network security
/network-security.data
/network-security.data

# emacs
*.elc
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

*~
\#*#
/.emacs.desktop
/.emacs.desktop.lock